@page "/agregarlocalidad"
@inject IGenericService<Localidad> LocalidadService
@inject NavigationManager NavigationManager

<HeaderPage TitlePage="Agregando Localidad" />

@if (localidad == null)
{
    <p><em>CARGANDO....</em></p>
}
else
{
    <EditForm Model="localidad" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <InputText id="Nombre" class="form-control" @bind-Value="localidad.Nombre" />
        </div>

        <button type="submit" class="btn btn-primary">Agregar Localidad</button>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int? IdLocalidadAgregado { get; set; }

    private Localidad localidad = new Localidad();

    protected override async Task OnInitializedAsync()
    {
        if (IdLocalidadAgregado.HasValue && IdLocalidadAgregado.Value != 0)
        {
            localidad = await LocalidadService.GetByIdAsync(IdLocalidadAgregado.Value);
        }
    }

    private async Task Guardar()
    {
        if (localidad.Clientes == null)
            localidad.Clientes = new List<Cliente>();

        if (localidad.Id == 0)
        {
            await LocalidadService.AddAsync(localidad);
        }
        NavigationManager.NavigateTo("/localidades");
    }
}
