@page "/localidades"
@using Service.Models
@inject IGenericService<Localidad> LocalidadesService
@inject NavigationManager NavigationManager

<h3>Localidades</h3>

<button class="btn btn-success mb-3" @onclick="AgregarLocalidad">Agregar Localidad</button>

@if (localidades == null)
{
    <p><em>Obteniendo lista de Localidades </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var localidad in localidades)
            {
                <tr>
                    <td>@localidad.Id</td>
                    <td>@localidad.Nombre</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => EditarLocalidad(localidad.Id)">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Localidad>? localidades;

    protected override async Task OnInitializedAsync()
    {
        localidades = await LocalidadesService.GetAllAsync();
    }

    private void AgregarLocalidad()
    {
        NavigationManager.NavigateTo("/agregarlocalidad");
    }

    private void EditarLocalidad(int id)
    {
        NavigationManager.NavigateTo($"/editarlocalidad?IdLocalidadEditada={id}");
    }
}