@page "/editarcliente"
@inject IGenericService<Cliente> ClienteService
@inject NavigationManager NavigationManager

<h3>Editar Cliente</h3>

@if (cliente == null)
{
    <p><em>Obteniendo cliente a editar... </em></p>
}

else
{
   <EditForm Model="cliente" OnValidSubmit="Guardar">
       <DataAnnotationsValidator/>
       
       <div class="form-group">
           <label for"Nombre">Nombre</label>
           <InputText id="Nombre" class="form-control" @bind-Value="cliente.Nombre"/>
       </div>
         <div class="form-group">
              <label for="Apellido">Apellido</label>
            <InputText id="Apellido" class="form-control" @bind-Value="cliente.Apellido" />
        </div>
            <div class="form-group">
                <label for="Email">Email</label>
            <InputText id="Email" class="form-control" @bind-Value="cliente.Email" />
            </div>
        <div class="form-group">
            <label for="Telefono">Telefono</label>
            <InputText id="Telefono" class="form-control" @bind-Value="cliente.Telefono" />
        </div>
        <div class="form-group">
            <label for="Localidad">Localidad</label>
            <InputText id="Localidad" class="form-control" @bind-Value="cliente.Localidad" />
        </div>
       
       <button type="submit" class="btn btn-primary">Guardar</button>
        <ValidationSummary />
   </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int IdClienteEditado { get; set; }
    private Cliente? Cliente;

    protected override async Task OnInitializedAsync()
    {
        cliente = await ClienteService.GetByIdAsync(IdClienteEditado);    
    }

    private void Guardar()
    {
        ClienteService.UpdateAsync(cliente);
        NavigationManager.NavigateTo("/clientes");
    }
}
